/.vs
/.vs/SharpGrabber/v16
/.vs/SharpGrabber/DesignTimeBuild
/.idea
/src/DotNetTools.SharpGrabber/obj
/tests/DotNetTools.SharpGrabber.Tests/bin
/tests/DotNetTools.SharpGrabber.Tests/obj
/src/DotNetTools.SharpGrabber/bin
/src/DotNetTools.SharpGrabber.Win/bin
/src/DotNetTools.SharpGrabber.Win/obj
