################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SharpGrabber/v16
/src/DotNetTools.SharpGrabber/obj
/.vs/SharpGrabber/DesignTimeBuild
/DotNetTools.SharpGrabber.Tests/bin/Debug/netcoreapp3.0
/DotNetTools.SharpGrabber.Tests/obj
/src/DotNetTools.SharpGrabber/bin/Debug/netstandard2.0
/DotNetTools.SharpGrabber.Win/bin/Debug
/DotNetTools.SharpGrabber.Win/obj/Debug
