################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SharpGrabber/v16
/src/DotNetTools.SharpGrabber/obj
